html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow-x: hidden; /* evita scroll horizontal */
}

main {
  min-height: 100vh;
  overflow-y: auto;
  padding-bottom: 4rem;
  padding-top: 150px; /* espacio para que no quede tapado */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}