html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow-x: hidden; /* evita scroll horizontal */
}

main {
  min-height: 100vh;
  overflow-y: auto;
  padding-bottom: 4rem;
  padding-top: 150px; /* espacio para que no quede tapado */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.centered-justified {
  max-width: 800px;       /* o el ancho que quieras */
  margin: 0 auto;         /* centra horizontalmente */
  text-align: justify;    /* alinea el texto a ambos márgenes */
}

.color-back {
  background-color: #798754;
  margin: 0;
  padding: 2rem 1rem;
  width: 100%;
  color: white;
}


.button-color {
  background-color: #D29F23;
}

.button-color:hover {
  background-color: #782259;
  color: white;
  cursor: pointer;
 
}


