html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow-x: hidden; /* evita scroll horizontal */
}

main {
  min-height: 100vh;
  overflow-y: auto;
  padding-bottom: 4rem;
  padding-top: 150px; /* espacio para que no quede tapado */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.centered-justified {
  max-width: 800px;       /* o el ancho que quieras */
  margin: 0 auto;         /* centra horizontalmente */
  text-align: justify;    /* alinea el texto a ambos márgenes */
}

.color-back {
background-image: url('../assets/nav/fondo banner_2.jpg');
  margin: 0;
  padding: 2rem 1rem;
  width: 100%;
  background-size: cover;       /* Hace que la imagen cubra todo el fondo */
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding: 20px;                /* Un poco de espacio interno para que no quede muy pegado el texto */
  color: white;                 /* Texto en blanco para que contraste */
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7); /* Sombra para mejorar legibilidad */
}


.button-color {
  background-color: #D29F23;
}

.button-color:hover {
  background-color: #782259;
  color: white;
  cursor: pointer;
 
}


