html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow-x: hidden; /* evita scroll horizontal */
    scrollbar-width: none; /* Oculta scroll en Firefox */
}

main {
  min-height: 100vh;
  overflow-y: auto;
  padding-bottom: 4rem;
  padding-top: 150px; /* espacio para que no quede tapado */
}


html::-webkit-scrollbar {
  display: none; /* Oculta scroll en Chrome, Edge y Safari */
}

body {
  -ms-overflow-style: none; /* IE y Edge antiguos */
}